body {
    margin: 0;
    padding: 0
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
}

#selector {
    width:100%;
    height:100%;
}